TFR_SECRET_KEY_NAME="<registry_secret_key_name output>"
TFR_REPOSITORY_URL="https://registry.my-domain.com"
TFR_DYNAMODB_TABLE_NAME="<dynamodb_table_name output>"
TFR_BUCKET_NAME="<bucket_name output>"
TFR_DEFAULT_NAMESPACE=my-namespace